<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column " fxFlex="100" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column " style="background-color: rgb(250, 252, 252); height: 100%;padding-top : 10px;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column " fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="100" fxFlex.sm="100">
            <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="100" fxFlex.sm="100">
              <div fxLayout="column " fxFlex="65" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="49" fxFlex.sm="45" fxFlex.md="55">
                <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="column wrap" fxFlex="19" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="52" fxFlex.md="35" fxFlex.sm="47">
                    <div style="padding : 0px !important">
                      <p id="icon" style="padding-top :5px; margin: 0px;">
                        <mat-icon style="font-size:4em; padding: 0px" matBadge="12" matBadgePosition="below before" matBadgeColor="warn"> account_circle </mat-icon>
                      </p>
                    </div>
                  </div>
                  <div fxLayout="column wrap" fxFlex="81" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="48" fxFlex.md="65" fxFlex.sm="53"><label style="font-size : 22px; padding-top: 20px !important;"> Ankit Gupta</label></div>
                </div>
              </div>
              <div fxLayout="column " fxFlex="35" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="51" fxFlex.sm="55" fxFlex.md="45">
                <div>
                  <table *ngFor="let user of Policy; let i = index" id="table">
                    <tr>
                      <th> ID : </th>
                      <td> &#xA0; {{user.name}}</td>
                    </tr>

                    <tr>
                      <th> Policy Nr : </th>
                      <td> &#xA0; {{user.personalDetails[i].email}} </td>
                    </tr>
                    <tr>
                      <th> Cell : </th>
                      <td> &#xA0; {{user.personalDetails.phone}} </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="column " fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="100" fxFlex.sm="100">
            <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="100">
              <div fxLayout="column " fxFlex="40" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="25" fxFlex.sm="25">
                <div fxLayout="row " style="wid" fxFlex="50" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="column " fxFlex="60" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
                    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="circle.png" style="height : 90px;"></div>
                  </div>
                </div>
              </div>
              <div fxLayout="column " fxFlex="60" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="75" fxFlex.sm="75">
                <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="column " fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
                    <div fxLayout="row wrap" style="border: 1px solid gray; margin-top : 0px !important;" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false"><button mat-button style="background-color : white; border-radius: 0px !important;  border-right: 1px solid gray;">Refresh</button><button mat-button style="background-color : white;border-radius: 0px !important;  border-right: 1px solid gray;">Edit</button><button mat-button style="background-color : white;">
                        <mat-icon>arrow_drop_down</mat-icon>
                      </button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row " fxFlex="100" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column " fxFlex="95" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutGap="1%" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column " style="background-color: white;" fxFlex="29" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.sm="100" fxFlex.md="100" fxFlex.xs="100">
            <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div style="width:  100%;" class="tableOverflow">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name. </th>
                    <td mat-cell *matCellDef="let element; let i = index" style="cursor : pointer"> {{element.name}} </td>
                  </ng-container>

                  <ng-container id="api" matColumnDef="policies" *ngFor="let column of [policies]">
                    <th mat-header-cell *matHeaderCellDef> Policies. </th>
                    <td mat-cell *matCellDef="let element">
                      <ng-container *ngFor="let column of element.policies; let i2 = index">
                        <ul>
                          <li (click)="getdata(column)">{{column.type}}</li>
                          <li>{{column.number}}</li>
                          <li>{{column.logo}}</li>
                          <li>{{column.icon}}</li>
                        </ul>
                      </ng-container>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="dispalyedColumns"></tr>
                  <tr mat-row *matRowDef="let row; let i = index; columns: dispalyedColumns;"></tr>
                </table>
              </div>
            </div>
          </div>
          <div fxLayout="column " style="background-color: white;" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="100" fxFlex.md="100" fxFlex.sm="100">
            <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <caption>
                <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

                  <ng-container id="api" matColumnDef="coverage">
                    <th mat-header-cell *matHeaderCellDef> coverage. </th>
                    <td mat-cell *matCellDef="let element">
                      <ng-container>
                        <ul>
                          <li>{{ element.coverage.type }}</li>
                          <li>{{ element.coverage.name }}</li>
                          <!-- <li>{{column.value}}</li> -->
                          <!-- <li>{{column.basicExcess}}</li> -->
                        </ul>
                      </ng-container>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                </table>
              </caption>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>